version: '3.0'

services:
  fastify-app:
    build:
      context: .  # O contexto do build, onde est치 o Dockerfile
    ports:
      - "3001:3001"  # Mapeia a porta 3001 do container para a porta 3001 do host
    environment:
      - PORT=3001  # Define a vari치vel de ambiente PORT
    volumes:
      - .:/usr/src/app  # Sincroniza o diret칩rio atual com o diret칩rio de trabalho no container
    command: ["npx", "ts-node", "index.ts"]  # Comando para rodar o servidor

